<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>View post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  
</head>
​
<body>
    <div class="container">
        
        <div class="row mt-4">
            <div class="col-md-3 ">
                <div>
                    <a href="/home">Home</a>
                </div>
                <div>
                    <a href="/create">Create</a>
                </div>
                <div>
                    <a  href="/view" onclick="deletePost()">Delete</a>
                </div>
                <div>
                    <a href="/logout">LogOut</a>
                </div>
            </div>
            <div class="col-md-6 ">
                {{#each posts}}
                <div>
                    <input type="checkbox" value="{{_id}}" name="checkbox" class="checkbox">
                    <a href="edit/{{_id}}">{{title}}</a>
                </div>
                <div>
                    <img src="{{url}}">
                </div>
                <div>
                    {{description}}
                </div>
​
​
                {{/each}}
            </div>
        </div>
        <script src="js/delete.js"></script>
</body>
​
</html>